{%include 'temheader.html'%}
{% load static %}
<section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url({% static 'images/bg_1.png' %})">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-10 col-sm-12 ftco-animate">
              <h1 class="mb-3">Best Catering Service In Coimbatore.</h1>
              
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url({% static 'images/bg_2.jpg' %})">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-10 col-sm-12 ftco-animate">
              <h1 class="mb-3">We Provide ALL Items In Any service.</h1>
             
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %})">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-10 col-sm-12 ftco-animate">
              <h1 class="mb-3">Best Catering for All The Functions.</h1>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END slider -->
 <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading"><h2> Our Menus</h2></span>
         
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="carousel1 owl-carousel ftco-owl">
            <div class="item">
              <div class="blog-entry">
                <a class="block-20" style="background-image: url({% static 'images/image_5.jpg' %})">
                </a>
                <div class="text p-4">
                  <h3 class="heading"><center>Vegetarian</center></h3>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="blog-entry" data-aos-delay="100">
                <a class="block-20" style="background-image: url({% static 'images/image_6.jpg' %})">
                </a>
                <div class="text p-4">

                  <h3 class="heading"><center>Non-Vegetarian</center></h3>
                  
                </div>
              </div>
            </div>
            <div class="item">
              <div class="blog-entry" data-aos-delay="200">
                <a class="block-20" style="background-image: url({% static 'images/image_7.jpg' %})">
                </a>
                <div class="text p-4">
                  
                  <h3 class="heading"><center>Chinese</center></h3>
                 
                </div>
              </div>
            </div>
            <div class="item">
              <div class="blog-entry" data-aos-delay="200">
                <a class="block-20" style="background-image: url({% static 'images/image_8.jpg' %})">
                </a>
                <div class="text p-4">
                 
                  <h3 class="heading"><center>Tandoori</center></h3>
                  
                </div>
              </div>
            </div>
            <div class="item">
              <div class="blog-entry" data-aos-delay="200">
                <a class="block-20" style="background-image: url({% static 'images/image_9.jpg' %})">
                </a>
                <div class="text p-4">
                  
                  <h3 class="heading"><a href="#">Italian</h3
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     

    

    <section class="ftco-section parallax-img" style="background-image: url({% static 'images/bg_3.jpg' %})" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2>Our Services</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section bg-light">
      <div class="container special-dish">
        <div class="row d-flex no-gutters">
          <div class="col-lg-6">
            <div class="block-3 d-md-flex ftco-animate">
              <div class="image order-last" style="background-image: url({% static 'images/dish-3.jpg' %})"></div>
              <div class="text text-center order-first">
                <h2 class="heading">Outdoor Catering</h2>
                <p>We provide best outdoor catering service in and around Coimbatore city.</p>
              </div>
            </div>
            <div class="block-3 d-md-flex ftco-animate">
              <div class="image order-first" style="background-image: url({% static 'images/dish-4.jpg' %})"></div>
              <div class="text text-center order-first">
                <h2 class="heading">Birthday Parties</h2>
                <p>Welcome to the best catering service providers of birthday parties in Coimbatore.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="block-3 d-md-flex ftco-animate">
              <div class="image order-last" style="background-image: url({% static 'images/dish-5.jpg' %})"></div>
              <div class="text text-center order-first">
                <h2 class="heading">Marriage Functions</h2>
                <p>We undertake all kinds of catering orders for all kinds of marriage functions.</p>
              </div>
            </div>
            <div class="block-3 d-md-flex ftco-animate">
              <div class="image order-first" style="background-image: url({% static 'images/dish-6.jpg' %})"></div>
              <div class="text text-center order-first">
                <h2 class="heading">Get Together</h2>
                <p>Planning for a get together? Give us chance to make your event better than our services.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <style type="text/css">
      #menu, #menu.visible
      {
        background: #C70039 !important;
      }
    </style>
{%include 'temfooter.html'%}