{%include 'user_header.html'%}
{% load mathfilters %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 100px;">
    <div class="card" >
        <h5 class="card-header">Purchased Product Details</h5>
        <div class="card-body">
            <div class="table-responsive ">
                <table class="table table-bordered">
                    <thead style="background: #ff407b;color: #FFF">
                        <tr class="white">
                            <th>Order Id</th>
                            <th>Ordered Date</th>
							<th>Product Name</th>
							<th>Price</th>
							<th>Image</th>
							<th>Quantity</th>
							<th>Total Amount</th>
							<th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in product_details %}
						<tr>
							<td>{{i.book_id}}</td>
							<td>{{i.date}}</td>
							<td>{{i.product_id.p_name}}</td>
							<td>{{i.product_id.p_price}}</td>
							<td><img src="/media/{{i.product_id.image}}" width="50px" height="50px"></td>
							<td>{{i.tot}}</td>
							<td><b style="padding-right:10px;">Rs: {{i.tot_price}}0</b></td>
							<td>
								{% if i.status == 'order' %}
									<span style="color: orange;font-size: 15px;font-weight: bold">Waiting for Product</span>
								{% elif i.status == 'paid' %}
									<span style="color: green;font-size: 15px;font-weight: bold">Product Delivered</span>
								{% endif %}
							</td>
						</tr>
					{% empty %}
						<tr>
							<td colspan="8" class="text-center bg-primary">No Items in Purchased <a href="{% url 'veg_product' %}" class="btn btn-warning btn-xs" style="color: #000 !important;"><i class="fa fa-edit"></i> Item </a></td>
						</tr>
						{% endfor %}
                    </tbody>
                </table>
	                <div align="right" style="margin:20px 50px 0 0;color: green;">
					<h4>Total: <b><i>Rs{{ tot.tot_price__sum }}0</i></b></h4></div>
										
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}

