{%include 'temheader.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">

    <section class="ftco-section">
      <div class="container" style="background: #FFF;padding: 30px;">
        <center><form method="post" style=" margin:30px;">{% csrf_token %}
          <div class="row">
            <div class="col-md-8"><input type="text" name="search" class="form-control" placeholder="Search Based on City or Area..."></div>
            <div class="col-md-3"><input type="submit"  class="btn btn-info" value="Search Market" style="padding-top:15px; padding-bottom: 15px;"></div>
          </div>
        </form></center>
        <div class="row no-gutters justify-content-center ">
          <div class="col-md-7 text-center heading-section " style="padding-top: 30px;">
            <h2></h2>
          </div>
        </div>
        <div class="row">
            {% for i in ids %}
                <div class="col-md-4" style="text-align: center;padding-top: 20px;">
                   <h4 style="font-size: 20px;">{{i.name}}</h4>
                  <img src="/media/{{i.image}}" width="250px" height="250px">
                  <p>City: {{i.city}}</p>
                  <h5>Area: {{i.area}}</h5>
                  <h4>Address</h4>
                  <p style="color:skyblue;font-weight: bold;"><b>{{i.address}}</b></p>
                  <a href="{% url 'veg_details' pk=i.id %}" class="btn btn-info btn-lg" style="margin-bottom: 30px;background-color:#ff407b;border-color:#ff407b; "><i class="fa fa-eye"></i> Details</a>
                </div>
                {% empty %}
                 <div><h2 style="text-align:center;">No Products Found.....</h2></div>
                <br><br><br><br><br><br>
            {% endfor %}

        </div>
		    </div>
      </section>
{%include 'temfooter.html'%}